/* .navbar{
    background: #fff;
    border-bottom:  1px solid var(--border);
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: var(--text-dark);
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--primary);
}

img{
    height: 40px;
    width: auto;
} */


.navbar {
  background: #fff;
  border-bottom: 1px solid var(--border);
  padding: 14px 40px;
  display: flex;
  align-items: center;
  position: relative;
}

/* LEFT */
.nav-left {
  flex: 1;
}

/* CENTER */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
}

.nav-center input {
  width: 100%;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--border);
}

/* RIGHT */
.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* LINKS */
.navbar a {
  text-decoration: none;
  color: var(--text-dark);
  margin-left: 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--primary);
}

/* LOGO */
img {
  height: 40px;
  width: auto;
}

/* DROPDOWN */
.search-dropdown {
  position: absolute;
  top: 45px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.search-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.search-item:hover {
  background: #f4f6f8;
}

.search-item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.search-item p {
  margin: 0;
  font-size: 12px;
  color: #666;
}
