<nav class="navbar">
  <!-- Left: Logo -->
  <div class="nav-left">
    <a [routerLink]="isEmployer ? '/jobs/employer' : '/'">
      <img [src]="MuzzufLogo" alt="Muzzuf">
    </a>
  </div>

  <!-- Center: Search -->
  <div class="nav-center" *ngIf="isLoggedIn">
    <input
      type="text"
      placeholder="Search users..."
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange($event)"
    />

    <!-- Dropdown -->
    <div class="search-dropdown" *ngIf="showDropdown">
      <div
        class="search-item"
        *ngFor="let user of users"
        (click)="openProfile(user.id)"
      >
        <img [src]="user.profileImageUrl || '/DProfile.png'" />
        <div>
          <strong>{{ user.fullName }}</strong>
          <p>{{ user.bio  | truncate : 20}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Right: Links -->
  <div class="nav-right">
      <a [routerLink]="isEmployer ? '/jobs/employer' : '/'">Jobs</a>

   <a *ngIf="isLoggedIn && isEmployer"  routerLink="jobs/addJob" >
     Add Job
  </a>

    <!-- ME -->
    <div class="me-wrapper" *ngIf="isLoggedIn" (click)="toggleMeMenu()">
      <img
        class="me-avatar"
        [src]="user?.profileImageUrl || '/DProfile.png'" />
      <span>Me ▾</span>

      <div class="me-dropdown" *ngIf="showMeMenu">

        <button (click)="goToMyProfile()">View Profile</button>
        <button (click)="goToEditProfile()">Edit Profile</button>
        <button *ngIf="isEmployee"
                (click)="goToApplications()">
          Applications
        </button>
        
        <hr />

        <button class="logout" (click)="logOut()">Logout</button>
      </div>
    </div>
    <a *ngIf="!isLoggedIn" routerLink="/auth/login">Login</a>
    <a *ngIf="!isLoggedIn" routerLink="/auth/register">Register</a>
  </div>
</nav>
