<div class="job-details-page" *ngIf="job">
  <div class="job-layout">

    <!-- LEFT CARD -->
    <div class="job-card">

      <!-- HEADER -->
      <div class="job-header">

        <!-- LEFT INFO -->
        <div class="job-info">
          <h1 class="job-title">{{ job.title }}</h1>

          <p class="company-name">
            {{ job.companyName || job.employerName }}
          </p>

          <p class="location">
            {{ job.city }}, {{ job.region }}
          </p>

          <span class="level">
            Seniority: {{ job.level }}
          </span>

          <div class="actions">
            <button
              class="btn primary"
              *ngIf="isEmployee"
              [disabled]="!job.isActive || isApplyDisabled()"
              [ngClass]="job.applicationStatus?.toLowerCase()"
              (click)="onActionClick()"
            >
              {{ job.isActive?  getActionText() : 'Job Closed' }}
            </button>

            <button
              class="btn primary"
              *ngIf="isEmployer"
              (click)="viewApplications()"
            >
              View Applications
            </button>

            <div class="actions-right" *ngIf="isEmployer">
              <button
                class="btn danger"
                [disabled]="!job.isActive "
                (click)="closeJob()"
              >
                {{ (job.isActive ? 'Close Job' : 'Job Closed') }}
              </button>
            </div>

          </div>
        </div>

        <!-- RIGHT LOGO -->
        <div class="logo-wrapper">
          <img
            [src]="job.companyLogo ? job.companyLogo : '/DCompany.jpg'"
            class="company-logo"
            alt="company logo"
          />
        </div>

      </div>

      <!-- CONTENT -->
      <section>
        <h3>Skills & Tools</h3>
        <div class="skills">
          <span *ngFor="let skill of job.requiredLanguage">
            {{ skill }}
          </span>
        </div>
      </section>

      <section>
        <h3>Job Description</h3>
        <p>{{ job.description }}</p>
      </section>

    </div>

    <!-- RIGHT PANEL -->
    <div class="apply-panel" *ngIf="showApplyPanel">
      <div class="apply-header">
        <h3>Application Questions</h3>
        <span class="close" (click)="closeApply()">×</span>
      </div>

      <div class="question" *ngFor="let q of job.questions || []">

  <label>{{ q.questionName }}</label>

  <!-- TEXT -->
<div *ngIf="q.answerType === 'Text'" class="text-answer-box">

  <textarea
    rows="4"
    maxlength="500"
    placeholder="Write your answer (max 500 characters)"
    [(ngModel)]="textAnswers[q.id]"
  ></textarea>

  <div class="char-count">
    {{ (textAnswers[q.id]?.length || 0) }} / 500
  </div>

</div>


 <!-- RECORD -->
<div *ngIf="q.answerType === 'Record'" class="record-muzzuf">

  <!-- BEFORE RECORD -->
  <button
    *ngIf="!isRecording[q.id] && !audioUrls[q.id]"
    class="record-btn"
    (click)="startRecording(q.id)">
    🎤 Record Answer
  </button>

  <!-- RECORDING -->
  <div *ngIf="isRecording[q.id]" class="recording-box">

    <div class="progress">
      <div
        class="progress-bar"
        [style.width.%]="(recordSeconds[q.id] / maxRecordSeconds) * 100">
      </div>
    </div>

    <div class="time">
      {{ recordSeconds[q.id] }} / {{ maxRecordSeconds }} sec
    </div>

    <button class="btn danger" (click)="stopRecording(q.id)">
      ⏹ Stop
    </button>

  </div>

  <!-- AFTER RECORD -->
  <div *ngIf="audioUrls[q.id]" class="audio-preview">

    <audio controls [src]="audioUrls[q.id]"></audio>

    <button class="btn outline danger" (click)="deleteRecording(q.id)">
      🗑 Delete & Re-record
    </button>

  </div>

</div>
</div>

      <button class="btn primary full" (click)="submitApplication()">
        Submit Application
      </button>
    </div>

  </div>
</div>
