.applications-container {
  display: flex;
  height: calc(100vh - 80px);
  background: #f3f6f9;
}

/* LEFT */
.applications-list {
  width: 35%;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 16px;
  overflow-y: auto;
}

.applications-list h3 {
  margin-bottom: 16px;
}

.app-card {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  padding-right: 90px;
}

.app-card:hover {
  background: #f9fafb;
}

.app-card.active {
  border-color: #0a66c2;
  background: #eef3f8;
}

.company {
  color: #666;
  font-size: 14px;
}

.company-logo {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 12px;
}

/* STATUS */
.status {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin-top: 6px;
}

.status.pending {
  background: #fff3cd;
  color: #856404;
}

.status.accepted {
  background: #d4edda;
  color: #155724;
}

.status.rejected {
  background: #f8d7da;
  color: #721c24;
}

/* RIGHT */
.application-details {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.application-details h2 {
  margin-bottom: 4px;
}

.cv-link {
  display: inline-block;
  margin: 10px 0;
  color: #0a66c2;
  text-decoration: none;
  font-weight: 500;
}

.cv-link:hover {
  text-decoration: underline;
}

.status.big {
  font-size: 14px;
  margin: 10px 0;
}

/* ANSWERS */
.answer-box {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 12px;
  background: #fff;
}

.question {
  font-weight: 600;
  margin-bottom: 6px;
}

.answer {
  color: #333;
}

/* EMPTY */
.empty {
  color: #888;
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.decision-actions {
  display: flex;
  gap: 14px;
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid #e6e6e6;
}

.accept-btn {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.accept-btn:hover {
  background: #218838;
}

.reject-btn {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.reject-btn:hover {
  background: #c82333;
}
